@font-face {
    font-family: 'JSongMyung-Regular-KO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    width: 100%;
    height: 100%;
}

.bkg{
    background-image: url("../images/bkg.jpg");
    width: 100%;
    height : 200%;
    position: absolute;
    background-size: cover;
    top : 0;
}



    

.title{
    display: flex;
    position: relative;
    flex-direction: column;
    color : darkgoldenrod;
    text-align: center;
    font-weight : bold;
    font-family: 'JSongMyung-Regular-KO';
    font-size: 70px;
    margin-top: 30px;
}

.subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.subtitle .rabbit_img {
    position: absolute;
    width: 265px;
    height: 265px;
}

.subtitle .coment{
    font-family: 'JSongMyung-Regular-KO';
    font-size : 55px;
    position : relative;
    color : darkgoldenrod;
    text-align: center;
    font-weight : bold;
    margin-top: 300px;
}

.bt{
	width:140px;
    font-family: 'BinggraeSamanco-Bold';
	height: 73px;
	color: white;
	font-size: 27px;
	border: 3px;
    border-color : black;
    background-color: #dcb088;
    align-items: center;
    position: relative;
    font-weight: bold;
    text-align: center;
    left : 35%;
    right: auto;
    vertical-align: middle;
}

.bt:hover{
    background-color: firebrick;
}




.guide {
    font-size: 35px;
    color : darkgoldenrod;
    font-family: 'BinggraeSamanco-Bold';
    position: relative;
    align-items: center;
    display : flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.result_movie{
    border: 1px solid gray;
    display: none;
    position : absolute;
    text-align: center;
    flex-direction: column;
    left: 37%;
    right: auto;
}
.result_drama{
    border: 1px solid gray;
    display: none;
    position : absolute;
    text-align: center;
    flex-direction: column;
    left: 37%;
    right: auto;
}
    
.result_ent{
    border: 1px solid gray;
    display: none;
    position : absolute;
    text-align: center;
    flex-direction: column;
    left: 37%;
    right: auto;
}
.result_the{
    border: 1px solid gray;
    display: none;
    position : absolute;
    text-align: center;
    flex-direction: column;
    left: 32%;
    right: auto;
}
.tg_04{
    font-size : 25px;
    font-family: 'BinggraeSamanco-Bold';
    background-color: antiquewhite;
    text-align: center;
    width: 100px;
    height: 55px;
    vertical-align: middle;
}

.tg_03{
    font-size : 23px;
    font-family: 'BinggraeSamanco-Bold';
    background-color: #efefef;
    width: 110px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
}

.tg_02{
    font-size : 23px;
    font-family: 'BinggraeSamanco-Bold';
    background-color: #efefef;
    width: 110px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
}
.tg_01{
    font-size : 23px;
    font-family: 'BinggraeSamanco-Bold';
    background-color: whitesmoke;
    width: 210px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
}

.tg_11{
    font-size : 23px;
    font-family: 'BinggraeSamanco-Bold';
    background-color: whitesmoke;
    width: 210px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
}

.tg_12{
    font-size : 23px;
    font-family: 'BinggraeSamanco-Bold';
    background-color: whitesmoke;
    width: 210px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
}

.tg_13{
    font-size : 23px;
    font-family: 'BinggraeSamanco-Bold';
    background-color: whitesmoke;
    width: 210px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
}

.tg_00{
    font-size : 23px;
    font-family: 'BinggraeSamanco-Bold';
    background-color: wheat;
    width: 210px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
}

.tg_date{
    font-size : 23px;
    font-family: 'BinggraeSamanco-Bold';
    background-color: wheat;
    width: 100px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
}

.blank{
    height: 20px;
}

.fa-solid fa-tv-retro{
    position: absolute;
}